body{
  font-family: 'Poppins', sans-serif;

}

p{
  font-family: 'Poppins', sans-serif;
 
}

.header-item{
  background-color: #F3F3F3;
  height:35px;
  color: rgb(0, 0, 0);
}
.title-image{
  transform: translateY(20%);
  padding-left: 20px;
  font-family: 'Poppins', sans-serif;

}


/* MEDIA QUERIES */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
  }

  /* Section Navbar */
  .navbar-brand {
    width: 250px;
    
  }

  .navbar-home {
    transform: translateY(-20%);
  }
  #condfelogo-home {
    width: 75%;
    height: 75%;
    transform: translateX(-15%);
  }

  /* Section Header Home */
  .banner-image {
    background-image: url("/asset/img/giff.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
  }

  /* Section Photo Header */
  .items {
    display: flex;
    overflow: auto;
  }

  .items .item {
    margin-top: 30px;
    margin-bottom: 20px;
    height: 80px;
    transform: translateX(0%);
  }
  .img-header{
    width: 175px;
      height: 70px;
      padding: 5px;
  }


/* Section Main Home */
.main-home {
  background-image: url("/asset/img/texture-bg.png");
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
  padding: 10px;
}
#about-condfe {
  font-size: 30px;
  transform: translateY(30%);
  font-weight: bolder;
  text-align: left;
  padding-top: 50px;
}
#main-text{
  transform: translateY(-20%);
  padding-right: 50px;
}
.img-main {
 width: 100%;
 height: auto;
 padding-bottom: 50px;

}

.main-text {
  font-size: 14px;
  transform: translateY(15%);
  text-align: left;
}
.main-photo{
  padding: 20px;
}
.photo {
  width: 160px;
  height: 160px;
  padding: -100px;
  margin: 5px;
  justify-content: center;
  transform: translateX(-10%);
}


/* Condfess */
.condfess{
background-image: url("/asset/img/texture-bg.png");
color: white;
padding-bottom: 60px;
padding-top: 60px;
}
.condfess-text{
font-family: 'Poppins', sans-serif;
font-size: 14px;
font-weight: lighter;
padding: 10px;
}
.condfess-header{
font-family: 'Poppins', sans-serif;
font-weight: bold;
font-size: 60px;
text-align: center;
transform: translateY(-20%);
}
.button-flat-outline {
border: 2px solid #ffffff;        
background: transparent;          
color: #ffffff;                 
font-size: 20px;                
padding: 0.5em 4.5em 0.5em 4.5em;     
font-family: 'Poppins', sans-serif;
transform: translateX(3%);
}
.button-flat-outline:hover {
opacity: 0.8;                    
background: #D89BF6;  
}
.button-flat-outline:active {
background: #D89BF6;              
color: #FFFFFF;                  
}

form .txt_field{
position: relative;
border-bottom: 2px solid #adadad;
margin: 30px 0;
}
.txt_field input{
width: 100%;
padding: 0 5px;
height: 40px;
font-size: 16px;
border: none;
background: none;
outline: none;
}
.txt_field label{
position: absolute;
top: 50%;
left: 5px;
color: #adadad;
transform: translateY(-50%);
font-size: 16px;
pointer-events: none;
transition: .5s;
}
.txt_field span::before{
content: '';
position: absolute;
top: 40px;
left: 0;
width: 0%;
height: 2px;
background: #D89BF6;
transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
top: -5px;
color: #D89BF6;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
width: 100%;
}

.submit{
background-color: #D89BF6;
color: white;
border-radius: 5px;
border-color: #D89BF6;
width: 350px;
height: 50px;
font-family: 'Poppins', sans-serif;
}

.row-video{
overflow-x: hidden;
padding: 5px;
}

video{
width: 325px;
height: 200px;
transform: translateY(20%);
}

.text-video{
padding: 60px;
}
.header-video{
font-size: 24px;
font-family: 'Poppins', sans-serif;
transform: translateY(30%);

}

.modal-content{
padding: 30px;
}
.btn-kirim{
transform: translateX(20%);
}
/* Footer */
.footer-home {
  background-color: #D89BF6;
  text-align: center;
  padding: 20px;
}

.text-left{
font-size: 25px;
text-align: center;
transform: translateY(60%);
font-family: 'Poppins', sans-serif;
font-weight: bold;
}
.footer-img {
  width: 200px;
transform: translateY(-5%);
}
.i{
  text-align: center;
transform: translateY(-100%);
  
}
i {
  font-size: 25px;
  color: white;
  padding: 5px;

}

.alamat{
  margin: 5px;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;

}
.credit{
  font-size: 10px;
  color: #e2e2e2;
  padding: 30px;
font-family: 'Poppins', sans-serif;

}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
  }

  /* Section Navbar */
  .navbar-brand {
    width:80%;
  }

  .navbar-home {
    transform: translateY(-10%);
  }
  #condfelogo-home {
    width: 45%;
    height: 45%;
    transform: translateX(-15%);
  }
  /* Section Header Home */
  .banner-image {
    background-image: url("/asset/img/giff.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
  }

  #condfelogo-home {
    width: 15%;
    height: 15%;
  }

  /* Section Photo Header */
  .items {
    display: flex;
    overflow: auto;
  }

  .items .item {
    margin-top: 30px;
    margin-bottom: 20px;
    height: 80px;
    transform: translateX(0%);
  }
  .img-header{
    width: 170px;
      height: 70px;
      padding: 5px;
  }

  /* Section Main Home */
  .main-home {
    background-image: url("/asset/img/texture-bg.png");
    text-align: center;
    padding: 50px;
  }
  #about-condfe {
    font-size: 42px;
    transform: translateY(35%);
    font-weight: bolder;
    text-align: left;

  }
  #main-text{
    transform: translateY(-20%);
    padding-right: 50px;
  }
  .img-main {
   width: 100%;
   height: auto;
  }

  .main-text {
    font-size: 16px;
    transform: translateY(20%);
    text-align: left;
  }
  .main-photo{
    padding: 50px;
  }
  .photo {
    width: 225px;
    height: 225px;
    padding: -100px;
    margin: 10px;
    justify-content: center;
    transform: translateX(-6%);
  }


/* Condfess */
.condfess{
  background-image: url("/asset/img/texture-bg.png");
  color: white;
  padding: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.condfess-text{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: lighter;
}
.condfess-header{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 80px;
  text-align: center;
  transform: translateY(-20%);
}
.button-flat-outline {
  border: 2px solid #ffffff;        
  background: transparent;          
  color: #ffffff;                 
  font-size: 18px;                
  padding: 0.5em 9.3em 0.5em 9.3em;     
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  
}
.button-flat-outline:hover {
  opacity: 0.8;                    
  background: #D89BF6;  
}
.button-flat-outline:active {
  background: #D89BF6;              
  color: #FFFFFF;                  
}

form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
  transform: translateY(150%);

}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #D89BF6;
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #D89BF6;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}

.submit{
 background-color: #D89BF6;
 color: white;
 border-radius: 5px;
 border-color: #D89BF6;
 font-family: 'Poppins', sans-serif;
 transform: translateY(90%);
}

.row-video{
  overflow-x: hidden;
  margin: 100px;
}

video{
  width: 500px;
  height: 250px;
  transform: translateY(30%);
  padding-left: 20px;
}

.text-video{
  transform: translateX(4%);
  padding: 50px;
  
}
.header-video{
  font-size: 25px;
  font-family: "poppins";
  font-family: 'Poppins', sans-serif;
  transform: translateY(200%);

}

.modal-content{
  padding: 30px;
}
.btn-kirim{
  transform: translateX(20%);
}
  /* Footer */
  .footer-home {
    background-color: #D89BF6;
    text-align: center;
    padding: 20px;
  }

.text-left{
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  transform: translateY(60%);
  
}
  .footer-img {
    width: 200px;
  transform: translateY(-5%);
  }
  .i{
    text-align: center;
  transform: translateY(-100%);
    
  }
  i {
    font-size: 25px;
    color: white;
    padding: 5px;

  }

  .alamat{
    font-size: 15px;
  transform: translateY(-30%);

  }
  .credit{
    font-size: 12px;
    color: #e2e2e2;
    padding: 0;
  transform: translateY(10%);

  }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
  }

  /* Section Navbar */
  .navbar-brand {
    width: 620px;
    
  }
.navbar-toggler{
  transform: translateY(-130%);
  margin-right: 15px;
  
}
  .navbar-home {
    transform: translateY(-10%);
  }
  #condfelogo-home {
    width: 35%;
    height: 35%;
    transform: translateY(-25%);
    margin-left: -20px;
  }
  .banner-image {
    background-image: url("/asset/img/giff.png");
    background-size: cover;
    height: 100vh;
    }


  /* Section Photo Header */
  .items {
    display: flex;
    overflow: auto;
  }

  .items .item {
    margin-top: 30px;
    margin-bottom: 20px;
    height: 80px;
    transform: translateX(0%);
  }
  .img-header{
    width: 170px;
      height: 70px;
      padding: 5px;
  }


  /* Section Main Home */
  .main-home {
    padding-bottom: 70px;
    padding-top: 50px;
    text-align: left;
    background-image: url("/asset/img/texture-bg.png");
  }
  
  .img-main {
    width: 92%;
    height: auto;
    transform: translateY(5%);
  
  }
  #about-condfe {
    font-size: 25px;
    transform: translateY(25%);
    padding-left: 22px;
    
  }
  
  .main-text {
    font-size: 11px;
    transform: translateX(7%);
    text-align: left;
    font-family: 'Poppins', sans-serif;
    padding-right: 25px;
  }
  
  #main-text{
    transform: translateY(10%);
    padding-right: 2px;

  }
   
  .main-photo{
    padding: 70px;
    margin: 10px;
  }
  

  .photo {
    width: 150px;
    height: 150px;
    transform: translateX(-10%);
    margin: 0px;
    padding: 5px;
    
  }

 /* Condfess */
 .condfess{
  background-image: url("/asset/img/texture-bg.png");
  color: white;
  padding: 70px;

}
.condfess-text{
  font-size: 12px;
  padding-right: -60px;
  font-weight: lighter;
  font-family: 'Poppins', sans-serif;

}

.condfess-header{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 60px;
  text-align: center;
  transform: translateY(60%);
  margin-right: 60px;
}
.button-flat-outline {
  border: 1px solid #ffffff;        
  background: transparent;          
  color: #ffffff;                 
  font-size: 16px;                
  padding: 0.3em 1em 0.3em 1em;     
  font-family: 'Poppins', sans-serif;

}
.button-flat-outline:hover {
  opacity: 0.8;                    
  background: #D89BF6;  
}
.button-flat-outline:active {
  background: #D89BF6;              
  color: #FFFFFF;                  
}

form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
  transform: translateY(-70%);

}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #D89BF6;
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #D89BF6;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}

.submit{
 background-color: #D89BF6;
 color: white;
 border-radius: 5px;
 border-color: #D89BF6;
 font-family: 'Poppins', sans-serif;
 transform: translateY(-70%);
 
}

.row-video{
  padding: 60px;
  overflow-x: hidden;
  transform: translateX(-5%);
  margin: 0;
  margin-bottom: -80px;
}

video{
  width: 320px;
  height: 200px;
  transform: translateY(30%);
}

.text-video{
  transform: translateX(20%);
  
}
.header-video{
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  transform: translateY(-70%);
}

.modal-content{
  padding: 30px;
}
.btn-kirim{
  transform: translateX(20%);
}
  /* Footer */
  .footer-home {
    background-color: #D89BF6;
    text-align: right;
    padding: 20px;
  }

.text-left{
  font-size: 27px;
  text-align: left;
  transform: translateY(60%);
  font-family: 'Poppins', sans-serif;
}
  .footer-img {
    width: 120px;
  transform: translateY(-15%);
    
  }
  .i{
    text-align: right;
  transform: translateY(-150%);
    
  }
  i {
    font-size: 22px;
    color: white;
    padding: 15px;

  }

  .alamat{
    margin: 5px;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    transform: translateY(-150%);

  }
  .credit{
  font-family: 'Poppins', sans-serif;

    font-size: 12px;
    color: #e2e2e2;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
  }

  /* Section Navbar */
  .navbar-home {
    transform: translateY(-35%);
  }
  #condfelogo-home {
    width: 50%;
    height: 50%;
    transform: translateY(0);

  }

.nav-link{
  margin-left: 10px;
  margin-top: 10px;
  
}
  /* Section Header Home */
  .banner-image {
    background-image: url("/asset/img/giff.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
  }

  /* Section Photo Header */
  .items {
    display: flex;
    overflow: auto;
  }

  .items .item {
    margin-top: 30px;
    margin-bottom: 20px;
    height: 80px;
    transform: translateX(0%);
  }
  .img-header{
    width: 170px;
    height: 70px;
    padding: 5px;
  }

 /* Section Main Home */
  .main-home {
    padding-bottom: 80px;
    padding-top: 80px;
    text-align: left;
    background-image: url("/asset/img/texture-bg.png");
  }

  .img-main {
    width: 88%;
    height: auto;
    transform: translateX(0%);

  }
  #about-condfe {
    font-size: 37px;
    transform: translateY(35%);
    padding-left: 0px;
    
  }

  .main-text {
    font-size: 14px;
    transform: translateY(5%);
    text-align: left;
    padding-right: 55px;
    
  }
   
  #main-text{
    transform: translateX(7%);
    
  }
.main-photo{
  padding: 20px;
  margin: 80px;
}

.photo {
  width: 200px;
  height: 200px;
  transform: translateX(-10%);
  margin: 0px;
  padding: 5px;
  
}

/* Condfess */
.condfess{
background-image: url("/asset/img/texture-bg.png");
color: white;
padding: 70px;


}

.condfess-header{
font-family: 'Poppins', sans-serif;
font-weight: bold;
font-size: 75px;
transform: translateY(40%);
margin-left: 10px;
}
.condfess-text{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  padding-right: 5px;
  transform: translateX(-4%);
  font-weight: lighter;
  }

.button-flat-outline {
border: 1px solid #ffffff;        
background: transparent;          
color: #ffffff;                 
font-size: 16px;                
padding: 0.5em 1em 0.5em 1em;     
font-family: 'Poppins', sans-serif;

transform: translateX(-10%);

}
.button-flat-outline:hover {
opacity: 0.8;                    
background: #D89BF6;  
}
.button-flat-outline:active {
background: #D89BF6;              
color: #FFFFFF;                  
}

form .txt_field{
position: relative;
border-bottom: 2px solid #adadad;
margin: 30px 0;
transform: translateY(-50%);
}
.txt_field input{
width: 100%;
padding: 0 5px;
height: 40px;
font-size: 16px;
border: none;
background: none;
outline: none;
}
.txt_field label{
position: absolute;
top: 50%;
left: 5px;
color: #adadad;
transform: translateY(-50%);
font-size: 16px;
pointer-events: none;
transition: .5s;
}
.txt_field span::before{
content: '';
position: absolute;
top: 40px;
left: 0;
width: 0%;
height: 2px;
background: #D89BF6;
transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
top: -5px;
color: #D89BF6;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
width: 100%;
}

.submit{
background-color: #D89BF6;
color: white;
border-radius: 5px;
border-color: #D89BF6;
font-family: 'Poppins', sans-serif;

transform: translateY(-90%);

}

.row-video{
  overflow-x: hidden;
  margin-bottom: 0;
  transform: translateX(-2%);

}

video{
  width: 460px;
  height: 290px;
  transform: translateY(20%);
  padding-left: 30px;
}

.text-video{
  transform: translateX(20%);
  padding: 30px;
}
.header-video{
  font-size: 22px;
  font-family: "poppins";
    font-family: 'Poppins', sans-serif;
    transform: translateY(-10%);
}

.modal-content{
padding: 30px;
}
.btn-kirim{
transform: translateX(20%);
}
 /* Footer */
 .footer-home {
  background-color: #D89BF6;
  text-align: right;
  padding: 30px;
}

.text-left{
font-size: 35px;
text-align: left;
font-weight: bold;
margin: 5px; 
transform: translateY(120%);
}
.footer-img {
  width: 150px;
transform: translateY(-15%);
  
}
.i{
  text-align: right;
transform: translateY(-150%);
  
}
i {
  font-size: 22px;
  color: white;
  padding: 15px;

}

.alamat{
  margin: 5px;
  transform: translateY(-100%);
  font-family: 'Poppins', sans-serif;

}
.credit{
  font-size: 12px;
  color: #e2e2e2;
  padding: 5px;
  font-family: 'Poppins', sans-serif;

}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1270px) {
  body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
  }

  /* Section Navbar */
  .navbar-home {
    transform: translateY(-35%);
  }
  #condfelogo-home {
    width: 40%;
    height: 40%;
    transform: translateY(0);

  }

.nav-link{
  margin-left: 30px;
  margin-top: 10px;
}
  /* Section Header Home */
  .banner-image {
    background-image: url("/asset/img/giff.png");
    background-size: cover;
    height: 100vh;
    }
    
    
  /* Section Photo Header */
  .items {
    display: flex;
    overflow: auto;

  }

  .items .item {
    margin-top: 30px;
    margin-bottom: 20px;
    height: 80px;
    transform: translateX(20%);
    
  }
  .img-header{
    width: 168px;
      height: 70px;
      padding: 5px;
  }


  /* Section Main Home */
  .main-home {
    padding-bottom: 80px;
    padding-top: 80px;
    text-align: left;
    background-image: url("/asset/img/texture-bg.png");
  }

  .img-main {
    width: 81%;
    height: auto;
    transform: translateX(0%);

  }
  #about-condfe {
    font-size: 40px;
    transform: translateY(20%);
    
  }

  .main-text {
    font-size: 16px;
    transform: translateY(-20%);
    text-align: left;
    padding-left: 0px;
    font-family: 'Poppins', sans-serif;
    margin: 35px;
  }

  #main-text{
    transform: translateX(7%);
    
  }
   
  .main-photo{
    padding: 80px;
    margin: 80px;
  }

  .photo {
    width: 235px;
    height: 235px;
    transform: translateX(-10%);
    margin: 0px;
    padding: 5px;
    
  }

 /* Condfess */
 .condfess{
  background-image: url("/asset/img/texture-bg.png");
  color: white;
  padding: 70px;


}
.condfess-text{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 100;
  padding-right: 90px;
  transform: translateX(-1%);

}
.condfess-header{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 90px;
  text-align: center;
  margin-right: 5px;
  transform: translateY(30%);
}
.button-flat-outline {
  border: 2px solid #ffffff;        
  background: transparent;          
  color: #ffffff;                 
  font-size: 16px;                
  padding: 0.5em 2em 0.5em 2em;     
  font-family: 'Poppins', sans-serif;
  transform: translateX(-5%);
  
}
.button-flat-outline:hover {
  opacity: 0.8;                    
  background: #D89BF6;  
}
.button-flat-outline:active {
  background: #D89BF6;              
  color: #FFFFFF;                  
}

form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #D89BF6;
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #D89BF6;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}



.row-video{
  overflow-x: hidden;
  margin: -10px;
  transform: translateX(-3%);

}
.txt_field{
  transform: translateY(-50%);

}
video{
  width: 550px;
  height: 320px;
  transform: translateY(10%);
  padding-left: 65px;
}

.text-video{
  padding: 30px;
  
}
.header-video{
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  transform: translateY(-50%);
  
}
.submit{
  background-color: #D89BF6;
  color: white;
  border-radius: 5px;
  border-color: #D89BF6;
  font-family: 'Poppins', sans-serif;

  transform: translateY(-90%);

 }
.modal-content{
  padding: 30px;
}
.btn-kirim{
  transform: translateX(20%);
}
 /* Footer */
  .footer-home {
    background-color: #D89BF6;
    text-align: right;
    padding: 5px;
    
  }

  .footer-left{
  transform: translateX(-5%);

  }
.text-left{
  font-size: 43px;
  text-align: left;
  font-weight: bold;
  transform: translateY(100%);
  font-family: 'Poppins', sans-serif;

}
  .footer-img {
    width: 150px;
  transform: translateY(-15%);
    
  }
  .i{
    text-align: right;
  transform: translateY(-150%);
    
  }
  i {
    font-size: 22px;
    color: white;
    padding: 15px;

  }

  .alamat{
    margin: 5px;
    transform: translateY(-100%);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-align: right;
  }
  .credit{
    font-size: 12px;
    color: #e2e2e2;
    padding: 5px;
    font-family: 'Poppins', sans-serif;

  }
} 



/* Extra large devices (large laptops and desktops, 1200px and up) */
